
/* Mobile Responsive  */

@media screen and (max-width: 576px) {
  body{
    width:93%;
    margin: 0 auto;
    
  }
  h3{
    font-size: 2rem;
  }
  .navbar ul{
    display: none;
  }
  .bar{
    display: block;
    font-size: 25px;
  }

  .banner-text h1{
    font-size: 3.8rem;
  }
  .banner-content{
    flex-direction: column;
  }
  .banner-img{
    display: flex;
    justify-content: center;
  }
  .banner-img> div{
    width: 180px;
    
  }
  .banner-img-sticker1{
    bottom: 5rem;
    left: 0;
  }
  .banner-img-sticker2{
    top: 12rem;
    right: 0;
  }
  .habit-section{
    width: auto;
  }
  .habit-card-container{
    flex-direction: column;
    align-items: center;
  }
}






/* Tablet Responsive  */

@media screen and (min-width: 577px) and (max-width: 992px){
  
  body{
    width: 95%;
    margin: 0 auto;
  }
  .banner-content{
    flex-direction: column;
  }
  .banner-img-sticker2{
    top: 12rem;
    right: 0;
  }
  .habit-section{
    width: 70%;
  }
  .habit-card-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
}
