
/* Mobile Responsive  */

@media screen and (max-width: 576px) {
  body{
    width:93%;
    margin: 0 auto;
    
  }
  h3{
    font-size: 2rem;
  }
  .navbar ul{
    display: none;
  }
  .bar{
    display: block;
    font-size: 25px;
  }

  .banner-text h1{
    font-size: 3.8rem;
  }
  .banner-content{
    flex-direction: column;
    margin: 30px auto;
  }
  .banner-img{
    display: flex;
    justify-content: center;
  }
  .banner-img> div{
    width: 180px;
    
  }
  .banner-img-sticker1{
    bottom: 5rem;
    left: 0;
  }
  .banner-img-sticker2{
    top: 12rem;
    right: 0;
  }
  .habit-section{
    width: auto;
  }
  .habit-card-container{
    flex-direction: column;
    align-items: center;
  }
  .run-extra-mile-container{
    flex-direction: column;
    margin: 0;
    padding: 10px;
  }
  .run-text, .run-img{
    width: 100%;
    margin: 10px 0;
  }
  .run-text button{
    width: 100%;
  }
  .training-text{
    width: 100%;
  }
  .grid-container-1, .grid-container-2{
    
    grid-template-columns: 1fr 1fr;
  }
  .hidden-img{
    display: none;
  }
  .bmi-heading{
    width: 100%;
  }
  .bmi-content{
    flex-direction: column;
    margin: 20px 0;
    
  }
  .bmi-chart-content{
   margin-left: 20px;
  }
  .your-bmi{
    margin-top: 30px;
    
  }
  #your-bmi-heading{
    margin-left: 20px;
  }
  input, #select-1, #select-2{
    margin: 10px ;
  }
  .your-bmi-inputs{
    margin-left: 2px;
  }
  .team-heading{
    width: 100%;
  }
  .team-card-container{
    grid-template-columns: repeat(1, 1fr);
    padding: 20px 0;
  }
  .benefit-content{
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
  }
  footer{
    padding: 10px;
  }
  .footer-container{
    flex-direction: column;
   }
   .footer-col-2, .footer-col-1{
    flex-direction: column;
    margin: 0;
    width: 100%;
   }
   hr{
    margin: 0px;
  }
}






/* Tablet Responsive  */

@media screen and (min-width: 577px) and (max-width: 1050px){
  
  body{
    width: 95%;
    margin: 0 auto;
  }
  .banner-content{
    flex-direction: column;
    margin: 40px auto;
  }
  .banner-img-sticker2{
    top: 12rem;
    right: 0;
  }
  .habit-section{
    width: 70%;
  }
  .habit-card-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  .bmi-heading{
    width: 80%;
    margin: 0;
  }
  .bmi-chart-content, .your-bmi{
    margin: 0 50px ;
   }
   .your-bmi{
    margin-top: 30px;
    
  }
   .bmi-content{
    flex-direction: column;
    margin: 20px 0;
  }
  .team-card img{
    height: 170px;
    width: 220px;
  }
  footer{
    padding: 20px;
  }
  .footer-container{
   flex-direction: column;
   /* width: auto; */
  }
  .footer-col-2{
    margin: 0;
    width: 60%;
  }
  hr{
    margin: 0px;
  }
}
