@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&display=swap');
/* font-family: "Inter", sans-serif; */
/* font-family: "Dancing Script", cursive; */


.font-inter{
  font-family: "Inter", sans-serif;
}
.font-italic{
  font-family: "Dancing Script", cursive;
  font-weight: lighter;
}

/* Common Styles  */

*{
  padding: 0;
  margin: 0;
  color: white;
}
body{
  background-color: black;

}
h3{
  font-size: 3rem;
  font-weight: 900;
}
p{
  color: rgba(255, 255, 255, 0.5);
  margin: 20px 0;
  
}
span{
  color:rgba(255, 255, 255, 0.5);
}
button{
  background-color: rgb(230, 83, 60);
  font-weight: 600;
  border-radius: 39px;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
}
.container, header{
  max-width: 1060px;
  margin: 60px auto;
  /* border: 2px solid white; */
}



/* Nav styles  */
.navbar{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid white; */
}
.nav-item{
  flex: 1;
  justify-content: space-between;
}
.navbar .title em{
 color: rgb(230, 83, 60);
 font-size: 2rem;
font-weight: 800;
cursor: pointer;
}
.bar{
  display: none;
}
.navbar ul{
  display: flex;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  padding: 8px;
}
.navbar ul li{
  list-style: none;
  border-radius: 39px;
  font-weight: 600;
}
.navbar ul li :hover , .active{
  background-color: rgb(230, 83, 60);
  border-radius: 39px;
  border: none;
  padding: 5px 20px;
}
.navbar ul li a{
  text-decoration: none;
}


/* Banner Styles  */
.banner-content{
  margin: 50px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-content>div{
  flex: 1;
  
}
.banner-text h1{
  font-size: 4.8rem;
}
.banner-img{
  position: relative;
  display: flex;
  justify-content: center;
 
}
.banner-btn button {
  cursor: pointer;
}
#download-btn{
  margin-left: 10px;
  background-color: black;
  border: 1px solid white;
}

.circle{
  font-size: 40px;
}
.banner-img-sticker1{
  height: 5rem;
  width: 12.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  gap: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  background: rgb(48, 48, 48, 0.54);
  position: absolute;
  bottom: 5rem;
  left: 0;
}
#tutorial h4{
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: 900;
}
.banner-img-sticker2{
  height: 5rem;
  width: 12.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  gap: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  background: rgb(48, 48, 48, 0.54);
  position: absolute;
  top: 8rem;
  right: 2.5rem;
}
#video h3{
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: 900;
}


/* Change Your Habit Styles  */
.habit-section{
  text-align: center;
  width: 60%;
  margin: 0 auto;
}
.habit-card-container{
 display: flex;
 justify-content: space-between;
}
.habit-card{
  text-align: center;
  width: 230px;
}
.habit-card img{ 
height: 200px;
width: 200px;
border: 1px solid white;
border-radius: 50%;
margin: 20px 0;
}
/* Run Extra Mile Styles */
.run-extra-mile-container{
  background-color: rgb(34, 34, 34);
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  border-radius: 18px;
}
.run-text{
  width: 50%;
  margin: 10px;
}
.run-img{
  width: 40%;
  border-radius: 18px;
}

/* Trainings and Exercises Styles  */

.training-text{
  width: 65%;
  /* margin-left: 15px; */
}

.grid-container-1 {
  display: grid;
  grid-template-columns: 25% 50% 25%;
}
.grid-container-2 {
  display: grid;
  grid-template-columns: 40% 25% 35%;
}

.grid-item {
  position: relative;
  overflow: hidden;
}

.grid-item img {
  display: block;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none; /* Allows interaction with the image if needed */
}
.grid-container-1 .grid-item:nth-child(1) .overlay {
  justify-content: flex-start;
  align-items: flex-end;
  color: black; 
  padding-left: 5px;
}
.grid-container-1 .grid-item:nth-child(2) .overlay {
  justify-content: flex-start;
  align-items: flex-start; 
  padding-left: 5px;
}
.grid-container-1 .grid-item:nth-child(3) .overlay {
  justify-content: flex-start;
  align-items: flex-end; 
  padding-left: 5px;
}
.grid-container-2 .grid-item:nth-child(1) .overlay {
  justify-content: flex-end;
  align-items: flex-start; 
}
.grid-container-2 .grid-item:nth-child(2) .overlay {
  justify-content: flex-start;
  align-items: flex-end; 
  padding-left: 5px;
}
.grid-container-2 .grid-item:nth-child(3) .overlay {
  justify-content: flex-start;
  align-items: flex-end; 
  padding-left: 5px;
}


